/*section del index*/ 
.index{
.tituloPrincipal{
    background-color:rgb(153, 239, 163);
    width: 100%;
    font-size: 2.2rem;
}
.sectionIndex{
    background-color: $color-verde-principal;
    .col-imgdos{
        background-position: center;
        margin-bottom: 50px;
        display: $contenedor-flex;
        object-fit: $contenedor-cov; 
        background-size: auto;
        .img{
            display:$contenedor-flex;
            width: 50vh;
            object-fit: $contenedor-cov;
        }
    }
    .parrafoSectionIndex{
        font-size: $font-size-rem;
    
    }
    .textoNegrita{
        color: rgb(66, 198, 73);
        text-decoration: none;
        font-weight: bold;
        
    }
}
}



/*aca utilize el mapa, en la parte del video*/
/*como ayudar*/
.comoAyudar{
    .sectionGaleriaImg{
        background-repeat: no-repeat;
         margin: 3%;
        display: $contenedor-flex;
        object-fit: $contenedor-cov;
        .imgAcomodar{
            display: inline-block;
            padding: 0%;
            .imgAjustando{
                width: 100% ;
                height: 90%;
                display:$contenedor-flex;
                object-fit:$contenedor-cov;
            }
        }
    }
.subCA{
    color: rgb(50, 85, 51);
    margin-left: 20%;
    margin-bottom: 2%;
}

.iconoImg{
    padding-left: 50px;
}
.parrafoIconos{
    text-align: $texto-centrado;
}

.video{
    display: map-get($map-flex, flex );
    justify-content:map-get($map-flex, center );
    margin-bottom: 25px;
}
}


/*Pagina alimentacion*/
.alimentacion{
    .recetas{
        font-size: 5vh;
        text-align:$texto-centrado;
        color: rgb(50, 85, 51);
    } 
    .cardH4{
        color: rgb(50, 85, 51);
    }
    .subInf{
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .influencer{
            display: $contenedor-flex;
            margin-top: $margin-porciento;
            margin-bottom: $margin-porciento;
            justify-content:$justify-content;
            color: rgb(66, 198, 73) ;
            font-size: 5.5vh;
            .linkInfluencer{
                list-style: none;
                text-decoration: none;
                color: rgb(66, 198, 73);
        }
        }
    

    .parrafoInfluencer{
         font-size: $font-size-rem;
        font-style: italic;
        display: $contenedor-flex;
        justify-content: $justify-content;
        margin-left:$margin-porciento;
    }
}



/*Pagina vegetarianismo*/
.vegetarianismo{
    .subVeggie{
        margin-left: 5%;
        font-weight: bold
    }
    .h2Titulo{
        @include flexible ($justify-content, $texto-centrado, 100%, 10px);
       /* display: $contenedor-flex;
        justify-content:$justify-content;
        text-align:$texto-centrado;
        width: 100%;
        margin: 10px;*/
    }
    .galeriaVeg{
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
        margin: auto;
        grid-gap: 10px;
        overflow: hidden;
    }
    .galeriaVeg > img{
        display: block;
        position: relative;
        box-shadow: 0 0 5px black;
        overflow: hidden;
    }
    .galeriaVeg img{
        width: 100%;
        vertical-align: top;
        height: 300px;
        object-fit: cover;
    }
    .cardTitulo{
        display: $contenedor-flex;
         margin-top: $margin-porciento;
         justify-content: $justify-content;
         color: rgb(50, 85, 51);
    }
    .cardSub{
        display: $contenedor-flex;
        margin-bottom: $margin-porciento;
        justify-content: $justify-content;
        color:rgb(255, 255, 255)
    }
    .cardH4{
        color: rgb(50, 85, 51);
    }
} 




/*Pagina Nosotros*/
.nosotros{
    .tituloNosotros{
        margin: 2%;
        color: $color-alice;
    }
    .subNosotros{
        text-align: $texto-centrado;
        margin-top:$margin-porciento;
        margin-bottom: $margin-porciento;
        color:rgb(65, 156, 90);
        text-shadow: 0 0 2px rgb(86, 253, 94);
    }
    .parrafoNosotros{
        text-align: $texto-centrado;
        color:   rgb(0, 0, 0);
        
    }
    .formulario{
        background-color: rgb(30, 82, 30);
        color: rgb(255, 255, 255);
        border: none;
        margin-bottom: 1%;
    }
}
//pagina error
.margin{
    margin: auto;
    padding: 5%;
}
/*.tituloError{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

        }*/

@media screen and (min-width:0px) and (max-width:768px) {
    /*inicio*/
    .col-imgdos{
        background-position: center;
        background-size: auto;
        margin-bottom: 50px;
        display: flex; 
        object-fit: cover; 
        .img{
            display: flex;
            width: 30vh;
            object-fit: cover;
     
        }
    }
    

    /*Seccion Como Ayudar*/
    .sectionGaleriaImg{
        background-repeat: no-repeat;
        margin: 5%;
        display: flex;
        object-fit: cover; 
        align-items: center;
        .imgAcomodar{
            display: inline-block;
            padding: 0%;
            .imgAjustando{
                width:  40vh;
                height: 70%;
                display: flex;
                object-fit: cover;
        
        
            }
        }
    
    
    /*seccion alimentacion*/
    //acomodo el texto de influencers
    .alimentacion{
        .parrafoInfluencer{
            font-size: 2vh;
            font-style: italic;
            margin: auto;
            padding: 3%;
        }
    }
}
}