/*section del index*/ 
.index{
.tituloPrincipal{
    background-color:rgb(153, 239, 163);
    width: 100%;
    font-size: 2.2rem;
}
.sectionIndex{
    background-color: $color-verde-principal;
    .col-img{
        background-position: center;
        background-size: cover;
        margin-bottom: 50px;
        display: $contenedor-flex;
        object-fit: $contenedor-cov;  
        .img{
            display:$contenedor-flex;
            width: 50vh;
            object-fit: $contenedor-cov;
        }
    }
    .col-imgdos{
        @extend .col-img;
        background-size: auto;
        .img{
            display:$contenedor-flex;
            width: 50vh;
            object-fit: $contenedor-cov;
        }
    }
    
    .col-imgtres{
        @extend .col-img;
        background-size: auto;
       
        .img{
            display:$contenedor-flex;
            width: 50vh;
            object-fit:$contenedor-cov;
        }
    }
    .parrafoSectionIndex{
        font-size: $font-size-rem;
    
    }
    .textoNegrita{
        color: rgb(66, 198, 73);
        text-decoration: none;
        font-weight: bold;
        
    }
}
}



/*aca utilize el mapa, en la parte del video*/
/*como ayudar*/
.comoAyudar{
.sectionGaleriaImg{
    background-repeat: no-repeat;
     margin: 3%;
    display: $contenedor-flex;
    object-fit: $contenedor-cov; 
    .imgAcomodar{
        display: inline-block;
        padding: 0%;
        .imgAjustando{
            width: 100% ;
            height: 90%;
            display:$contenedor-flex;
            object-fit:$contenedor-cov;
        }
    }
}
.iconoImg{
    padding-left: 50px;
}
.parrafoIconos{
    text-align: $texto-centrado;
}

.video{
    display: map-get($map-flex, flex );
    justify-content:map-get($map-flex, center );
    margin-bottom: 25px;
}
}


/*Pagina alimentacion*/
.alimentacion{
    .recetas{
        font-size: 5vh;
        text-align:$texto-centrado;
        color: rgb(26, 183, 86);
    }
    .contenedorCard{
        width:95%;
        display: $contenedor-flex;
        justify-content: space-between;
        margin: $margin-porciento;
        .card{
            width: 50%;
            background-color:$color-alice;
            box-shadow: 0 0 10px rgb(0, 0, 0);
            border-radius: 10px;
            border: 1px solid black;
            display: $contenedor-flex;
            flex-direction: column;
            justify-content: $justify-content;
            justify-content: space-between;
            align-items: center;
            img{
                width: 90%;
                height: 25%;
                object-fit: $contenedor-cov;
                display: inline-flex;
                margin: 5%;
                padding: 5%;
            
            }
        }
    }
    .sombra{
        text-shadow: 0 0 5px black;
    }
    .influencer{
        display: $contenedor-flex;
        margin-top: $margin-porciento;
        margin-bottom: $margin-porciento;
        justify-content:$justify-content;
        color: rgb(6, 255, 93);
        text-shadow: 0 0 10px rgb(0, 0, 0);
        font-size: 5.5vh;
        .marginInf{
            margin:$margin-porciento;
            .linkInfluencer{
                list-style: none;
                .linkInsta{
                    text-decoration: none;
                    margin-top:$margin-porciento;
                    color: black;
                }
            }
        }
    }
    .parrafoInfluencer{
        font-size: 3vh;
        color: azure;
        margin-left:$margin-porciento;
    }

}


/*Pagina vegetarianismo*/
.vegetarianismo{
    .h2Titulo{
        @include flexible ($justify-content, $texto-centrado, 100%, 10px);
       /* display: $contenedor-flex;
        justify-content:$justify-content;
        text-align:$texto-centrado;
        width: 100%;
        margin: 10px;*/
    }
    .cardTitulo{
        display: $contenedor-flex;
         margin-top: $margin-porciento;
         justify-content: $justify-content;
         color: rgb(50, 85, 51);
    }
    .cardSub{
        display: $contenedor-flex;
        margin-bottom: $margin-porciento;
        justify-content: $justify-content;
        color:rgb(255, 255, 255)
    }
    .cardAcomodo{
        display:$contenedor-flex;
        flex-direction: row;
        justify-content: space-between;
    }
} 


/*preguntar a los tutores como corregir el carousel*/

.carousel{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 30%;
    object-fit: cover;

}


/*Pagina Nosotros*/
.nosotros{
    .tituloNosotros{
        margin: 2%;
        color: $color-alice;
    }
    .subNosotros{
        text-align: $texto-centrado;
        margin-top:$margin-porciento;
        margin-bottom: $margin-porciento;
        color:rgb(65, 156, 90);
        text-shadow: 0 0 2px rgb(86, 253, 94);
    }
    .parrafoNosotros{
        text-align: $texto-centrado;
        color:   rgb(10, 106, 74);
        
    }
    .formulario{
        background-color: rgb(30, 82, 30);
        color: rgb(255, 255, 255);
        border: none;
    }
}

@media screen and (min-width:0px) and (max-width:768px) {
    
    .col-img{
        background-position: center;
        background-size: cover;
        margin-bottom: 50px;
        display: flex;
        object-fit: cover;  
        .img{
            display: flex;
            width: 30vh;
            object-fit: cover;
     
        }
    }
    .col-imgdos{
        background-position: center;
        background-size: auto;
        margin-bottom: 50px;
        display: flex; 
        object-fit: cover; 
        .img{
            display: flex;
            width: 30vh;
            object-fit: cover;
     
        }
    }
    
    .col-imgtres{
        background-position: center;
        background-size: auto;
        margin-bottom: 50px;
        display: flex;
        object-fit: cover; 
        .img{
            display: flex;
            width: 30vh;
            object-fit: cover;
     
        }
    }

    /*Seccion Como Ayudar*/
    .sectionGaleriaImg{
        background-repeat: no-repeat;
        margin: 5%;
        display: flex;
        object-fit: cover; 
        align-items: center;
        .imgAcomodar{
            display: inline-block;
            padding: 0%;
            .imgAjustando{
                width:  40vh;
                height: 70%;
                display: flex;
                object-fit: cover;
        
        
            }
        }
    }
    
}