/*elementos que uso en varias partes y no solo en un coso especifico*/


/*parrafo del titulo principal*/
.parrafoPrincipal{
    font-size: $font-size-rem;
    text-align:$texto-centrado;
}

/*pagina como ayudar*/
.tituloAyuda{
 display: $contenedor-flex;
 margin-top: $margin-porciento;
 justify-content:$justify-content;
 align-items: center;
 color: $color-alice;
}


.divP{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 3%;
}

@media screen and (min-width:0px) and (max-width:768px) {
    .tituloAyuda{
        display: $contenedor-flex;
        margin-top: $margin-porciento;
        margin-left: 3%;
        justify-content:center;
        align-items: center;
        color: $color-alice;
       }
}